services:
  strapi:
    build: .
    container_name: strapi-app
    env_file:
      - .env.production
    restart: unless-stopped
    volumes:
      - ./sqlite_data:/srv/app/data
      - ./public/uploads:/srv/app/public/uploads
      - ./config:/srv/app/config
    environment:
      NODE_ENV: production
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true