services:
  strapi:
    build: .
    container_name: strapi-app
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./sqlite_data:/srv/app/.tmp
      - ./public/uploads:/srv/app/public/uploads
      - ./config:/srv/app/config
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
